.digit-clock__colon {
  font-family: "Digital-7";
  font-weight: normal;
  font-style: normal;
  font-size: 200px;
  display: inline-block;
}

@media screen and (max-width: 890px) {
  .digit-clock__colon {
    font-size: 150px;
  }
}

@media screen and (max-width: 600px) {
  .digit-clock__colon {
    font-size: 100px;
  }
}

@media screen and (max-width: 400px) {
  .digit-clock__colon {
    font-size: 80px;
  }
}
