.digit-clock__am {
  position: absolute;
  right: -50px;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 890px) {
  .digit-clock__am {
    right: -40px;
    top: 49%;
    font-size: 18px;
  }
}

@media screen and (max-width: 690px) {
  .digit-clock__am {
    right: -40px;
    top: 49%;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .digit-clock__am {
    right: -30px;
    top: 40%;
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .digit-clock__am {
    right: -25px;
    top: 40%;
    font-size: 13px;
  }
}
